################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CRMCorporativo/DesignTimeBuild/.dtbcache.v2
/.vs/CRMCorporativo/FileContentIndex/383dcae6-1267-4fd3-97ea-d71f2be029a8.vsidx
/.vs/CRMCorporativo/FileContentIndex/7aeb6d8e-807b-4743-93e5-5fda0e3ad57f.vsidx
/.vs/CRMCorporativo/FileContentIndex/b2861242-6f0f-4200-a207-741c35ef9203.vsidx
/.vs/CRMCorporativo/FileContentIndex/d6c42a6c-0c43-4834-a6ef-472fdd731247.vsidx
/.vs/CRMCorporativo/FileContentIndex/eb3e358e-2fc6-4e47-bec9-7eb6f4b37f96.vsidx
/.vs/CRMCorporativo/v18
/.vs/CRMCorporativo/v18/.suo
/.vs/CRMCorporativo/v18/DocumentLayout.backup.json
/.vs/CRMCorporativo/v18/DocumentLayout.json
